/* Grid */
.fr-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gutter;
  margin-right: -$gutter;
}

.fr-row > [class*="fr-col"] {
  padding-left: $gutter;
  padding-right: $gutter;
  flex-basis: 0;
  flex-grow: 1;
}

@mixin fr-col($size) {
  flex-basis: percentage($size / 12);
  max-width: percentage($size / 12);
}

@for $i from 1 through 12 {
  .fr-col-#{$i} { @include fr-col($i); }
}

@each $bp, $dim in $fr-breakpoints {
  @for $i from 1 through 12 {
    .fr-col-#{$bp}-#{$i} {
      @include fr-media($bp) {
        @include fr-col($i);
      }
    }
  }
}

@for $i from 1 through 6 {
  .fr-row-cols-#{$i} > [class*="fr-col"] {
    flex: 0 0 percentage(1/$i);
    max-width: percentage(1/$i);
  }
}

@for $i from 0 through 5 {
  .fr-g-#{$i} > [class*="fr-col"] {
    padding-left: $spacing-unit * $i;
    padding-right: $spacing-unit * $i;
  }
  @each $bp, $dim in $fr-breakpoints {
    .fr-g-#{$bp}-#{$i} > [class*="fr-col"] {
      @include fr-media($bp) {
        padding-left: $spacing-unit * $i;
        padding-right: $spacing-unit * $i;
      }
    }
  }
}