/* Grid */
.fr-row {
  display: flex;
  flex-wrap: wrap;
}

[class^="fr-col-"] {
  padding: 0.5rem;
  flex: 1 0 0%;
}

.fr-col-1 { width: 8.333%; }
.fr-col-2 { width: 16.666%; }
.fr-col-3 { width: 25%; }
.fr-col-4 { width: 33.333%; }
.fr-col-5 { width: 41.666%; }
.fr-col-6 { width: 50%; }
.fr-col-7 { width: 58.333%; }
.fr-col-8 { width: 66.666%; }
.fr-col-9 { width: 75%; }
.fr-col-10 { width: 83.333%; }
.fr-col-11 { width: 91.666%; }
.fr-col-12 { width: 100%; }

@media (max-width: 600px) {
  .fr-row > [class^="fr-col-"] {
    flex-basis: 100%;
  }
}