$primary: #333;
$secondary: #000;


$success: #28c86d;
$danger: #ea5455;
$warning: #ff9f43;
$info: #08b1ba;

$gray: #495057;
$light: #dee2e6;

$colors: (
    $primary: #333,
    $secondary: #333,
    $success: #28c86d,
    $danger: #ea5455,
    $warning: #ff9f43,
    $info: #08b1ba,
    $gray: #495057,
    $light: #dee2e6
);
