



//Frontola colors
$primary: #7016d0;
$secondary: #aca4bc;
$success: #28c86d;
$danger: #ea5455;
$warning: #ff9f43;
$info: #08b1ba;
$gray: #495057;
$light: #dee2e6;

$theme-color: (
    $primary: #7016d0,
    $secondary: #aca4bc,
    $success: #28c86d,
    $danger: #ea5455,
    $warning: #ff9f43,
    $info: #08b1ba,
    $gray: #495057,
    $light: #dee2e6
) !default;
